
.contCarDetail{
    height: 75vh;
    padding: 2rem;
    margin-top: 14rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: rgb(236, 236, 236);
    align-items: center;
    width: 60rem;
}
.contTemplate {
    height: 95rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.contTemplate::-webkit-scrollbar {
    width: 6px;
  }
  
  .contTemplate::-webkit-scrollbar-thumb {
    background-color: #07070773;
    border-radius: 6px;
  }
  
  .contTemplate::-webkit-scrollbar-track {
    background-color: #F1F1F1;

    // background-color: #6b6b6b;
  }
  .contTotal{
    padding-top: 2.5rem;
    font-weight: 600;
    font-size: 1.5rem;
  }

  @media only screen and (max-width: 56.25rem){
   
    .contCarDetail{
        width: 100%;
        padding-top: 1rem;
        justify-content: flex-end;

    }
    .contTemplate {
        
        width: 100%;
    }
}

@media only screen and (max-width: 35.5rem){
    
}