.contPanelAdmin{
    background-color: rgb(255, 255, 255);
    padding-top: 13rem
}

.contMenuAdmin{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.contTableAdmin{
    overflow: scroll;
}
.contTableAdmin::-webkit-scrollbar {
    display: none;  
}

@media only screen and (max-width: 64rem){

    .contPanelAdmin{
        padding-top: 7rem
    }
    .contMenuAdmin{
        gap: 1.5rem;
        margin-bottom: 3rem;
    }

}

@media only screen and (max-width: 28rem){
    .contPanelAdmin{
        padding-top: 6rem
    }
    .contMenuAdmin{
        gap: 1.5rem;
        margin-bottom: 3rem;
    }
}