.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loadingSpinner {
    animation: rotate 1s linear infinite;
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }