.contDetail {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
}
.listMenu{
    width: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(222, 221, 221);
    padding: 1.5rem;
}

.listMenu ul li {
    text-transform: capitalize;
}

@media only screen and (max-width: 56.25rem){
    .contDetail {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .listMenu{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        height: auto;
        background: rgb(222, 221, 221);
        padding-top: 7.5rem;
    }
    .listMenu ul {
        overflow: hidden;
        overflow-x: auto;
        scrollbar-color: yellow;
        border-left: 1px solid #979797c7;
        border-right: 1px solid #979797c7;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;
    }
    .listMenu ul::-webkit-scrollbar {
        display: none;  
    }
    .listMenu ul li {
        padding: 0rem .5rem;
    }
}


@media only screen and (max-width: 28rem){
    .listMenu{
        padding-top: 5.5rem;
    }
}