.card{
    margin: 1rem 2rem;
}
.imgCard{
    height: 22rem;
    width: 20rem;
}
.descriptionCard{
    height: 10rem;
    background: rgb(235, 235, 235);
    padding: 2rem 1.5rem 0rem 1.5rem;
    text-align: start;
}
 .descriptionCard h1{
    font-size: 1.5rem;
    font-weight: 500;
 }
 .descriptionCard p{
    margin: .5rem 0rem;
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 1.5rem;
 }

.footerData{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0rem 1rem;
}
.footerData h3{
   font-size: 2rem;
   font-weight: 600;
}
.card:hover{
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}
.card:active{
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

@media only screen and (max-width: 56.25rem){
    .card{
        margin: .5rem 1rem;
        // border-bottom-left-radius: .5rem;
        // border-bottom-right-radius: .5rem;    
    }
    .imgCard{
        height: 16rem;
        width: 19rem;
    }
    .descriptionCard{
        // border-bottom-left-radius: .5rem;
        // border-bottom-right-radius: .5rem;
        padding: .7rem;
    }
    .descriptionCard h1{
        font-size: 1.2rem;
        font-weight: 500;
     }
     .descriptionCard p{
        margin: .2rem 0rem;
        font-size: .8rem;
        font-weight: 400;
     }
     .footerData span {
        font-size: .9rem;
     }
     .footerData h3{
        font-size: 1.2rem;
        font-weight: 600;
     }
}

@media only screen and (max-width: 56.25rem){
    .descriptionCard {
        padding: 2rem 1rem 0rem 1rem;
    }
    .descriptionCard h1{
        font-size: 1.2rem;
        font-weight: 500;
     }
     .descriptionCard p{
        margin: .2rem 0rem;
        font-size: .8rem;
        font-weight: 400;
        padding-bottom: 1rem;
     }
     .footerData span {
        color: rgb(53, 53, 53);
        font-size: 1rem;
     }
     .footerData h3{
        font-size: 1.2rem;
        font-weight: 600;
     }
}