.button {
    border-radius: 0px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 1rem 1.5rem;
    cursor: pointer;
    text-align: center;
    box-shadow: 0px 0px 15px 0px rgba(143, 143, 143, 0.75);
}
.button:hover{
    box-shadow: 0px 0px 5px 0px rgba(254, 254, 254, 0.75);
}
.button:active {
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.75);
}

@media only screen and (max-width: 56.25rem){
    .button {
        padding: .7rem 1.2rem;
        font-size: .9rem;
    }
}
@media only screen and (max-width: 37.5rem){
    .button {
        padding: .5rem 1rem;
        font-size: .8rem;
    }
    
}